/.facts
/.idea
/**/.terraform
/aws/*.tfstate
/aws/*.plan
/*.iml
/playbook.retry
/**/terraform.tfstate
/**/terraform.tfstate.backup
*.lock.hcl
/artefacts/deploy.sh
/artefacts/runningdinner-2.0.0.jar
/**/.galaxy_install_info
switch-dns-to-new-server.json
/**/secrets.tf
.tfcontext
local/volume/
local/.env
.appserver-ip*.txt
.db-address*.txt
backup.dump
dump.dump